@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.container {
  width: 81.5%;
  margin-left: 254px;
  height: 700px;
  background-color: rgba(112, 112, 167, 0.945);
}

.header {
  text-align: center;
  margin: 0px 50px 40px 50px;
  background: linear-gradient(rgba(65, 61, 77, 0.863),
  rgba(2, 1, 1, 0.9));
  color: #fff;
  letter-spacing: 2px;
  height: 75px;
 }

 .progress {
  float: left;
  margin-top: 7px;
  margin-left: 25px;
  margin-right: 40px;
  font-size: 30px;
  color: aliceblue;
  padding: 14px;
  letter-spacing: 2px;
  cursor: pointer;
  font-weight: 450;
  font-family: 'Roboto', sans-serif;
}

.progress i {
  margin-right: 3px;
 }

.navbar-links li :hover {
  text-decoration: underline;
}

 ul {
  list-style: none;
}

.navbar-ul li {
  float: left;
  margin-right: 63px;
  margin-top: 24px;
}

.navbar-ul li a{
color: aliceblue;
font-size: 25px;
text-decoration: none;
letter-spacing: 2px;
font-weight: 440;
font-family: 'Roboto', sans-serif;
}

.main{
  width: 85%;
  min-height: 500px;
  margin: 0 auto;
}

.hide{
  display: none;
}

mat-footer-row mat-footer-cell{
  justify-content: center;
  font-style: italic;
}

.update{
  margin-right: 15px;
  background-color: #fff;
  border: #fff;
  outline: #fff;
}

.remove{
  background-color: #fff;
  border: #fff;
  outline: #fff;
  color: red;
}

.removeAll{
  position: absolute;
  left: 86.5%;
  top: 19.5%;
  background-color: #fff;
  border: #fff;
  outline: #fff;
  color: red;
  width: 40px;
  padding: 6px 2px 4px 2px ;
  font-weight: 600;
  font-size: 12px;
}

button i{
  font-size: 23px;
  margin-left: 10px;
}


body {
  font-size: .875rem;
  margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

header{
  position: fixed;
  background-color: #212529 ;
  padding: 10px;
  height: 30px;
  width: 234px;
  top:0;
  left: 0;
  z-index: 0;
}

.name h3{
  margin: 0;
  margin-left: 0;
  width: 200px;
  line-height: 34px;
  text-decoration: none;
  padding-left: 25px;
  color: #fff;
  font-size: 26px;
  letter-spacing: 2px;
  text-transform: uppercase;
}


.sidebar{
  padding-top: 30px;
  position: fixed;
  left: 0;
  width: 250px;
  height: 100%;
  z-index: 0;
  cursor: pointer;
}

.sidebar a{
  display: block;
  width: 100%;
  line-height: 45px;
  text-decoration: none;
  padding-left: 25px;
  box-sizing: border-box;
  transition: 0.5s;
  color: #444444;
}

.sidebar a:hover {
  background: #CCCCCC;
  color: black;
  font-weight: 600;
}

.sidebar i {
  padding-right: 10px;
}

h4{
  position: fixed;
  bottom: 156px;
  padding-left: 30px;
  background-color: #212529;
  color:#fff;
  height: 50px;
  line-height: 50px;
  font-size: 24px;
  width: 225px;
  text-transform: uppercase;
  letter-spacing: 2px;
  z-index: 0;
}

.account{
  display: block;
  width: 255px;
  position: fixed;
  bottom: 66px;
}

.sidebar {
  width: 255px;
  top: 2px;
  bottom: 0;
  left: 0;
  padding: 48px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.account a{
  padding-right: 5px;
  padding-left: 20px;

}

